@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


#hero{
    height: 100vh;
    width: 100%;
    background-color: #f9efe5;
    display: flex;
    justify-content: center;
}

.content{
    width: 85%;
    height: 90vh;
    background-color: green;
    display: flex;
}

.first{
    width: 70%;
    height: 100%;
    background-color: pink;
    display: flex;
}


.last{
    width: 30%;
    height: 100%;
    background-color: aqua;
}


.firstone{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}

.secondone{
    width: 50%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}


.di1{
    width: 90px;
    height: 100%;
    background-color: rgb(10, 237, 63);
}

.di2{
    width: 90px;
    height: 100%;
    background-color: rgb(10, 237, 63);
}


.di3{
    width: 90px;
    height: 100%;
    background-color: rgb(10, 237, 63);
}


.logo1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.logo1a .span1{
    font-size: 32px;
    color: #3b4d41;
}

.logo1a .span2{
    font-size: 32px;
    color: #77c080;
}

.logo1b a{
    text-decoration: none;
    color: #3b4d41;
    cursor: pointer;
}

.logo1b a:hover{
    color: #8cad87;
    transition: all 400ms ease-in;
}


.logo2{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.sixty{
    font-size: 24px;
    color: #3b4d41;
    margin-right: 12px;
}

.stud{
    font-size: 16px;
}
.avg{
    color: #1c402c;
    font-size: 12px;
}

.text{
    padding: 20px;
    display: flex;
}

.text .get{
    font-size: 60px;
    color: #1c402c;
    font-weight: 350;
}

.awal{
    display: flex;
    padding: 10px;
    margin-top: 18px;
}