@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}


#hero{
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 241, 249);
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}

.logo span:nth-child(1){
    font-size: 26px;
    color: rgb(26, 26, 26);
    font-weight: 400;
}

.logo span:nth-child(2){
    font-size: 26px;
    color: #1c402c;
    font-weight: 400;
}


.lists{
    display: flex;
    gap: 40px;
}

.lists a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.lists a:hover{
    color: #029845;
    transition: all 400ms ease;
}

.btns{
    display: flex;
    gap: 50px;
    align-items: center;
}

.btns button{
    cursor: pointer;
}

.btns img{
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: none;
}

.btns button:nth-child(1){
    outline: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #a1ff0a;
    font-weight: 400;
    font-size: 16px;
}

.btns button:nth-child(2){
    outline: none;
    background-color: transparent;
    color: #1c402c;
    border: none;
    font-size: 16px;
}


.container{
    width: 400px;
    height: 90%;
    background-color: green;
    position: absolute;
    top: 0px; 
    left: 580px;
    z-index: 1;
}