@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


#hero{
    height: 700px;
    width: 100%;
    background-color: #f9efe5;
    display: flex;
    justify-content: center;
}

.content{
    width: 95%;
    height: 90vh;
    /* background-color: green; */
    display: flex;
}

.first{
    width: 70%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
}


.last{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
}


.firstone{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
}

.secondone{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    position: relative;
}


.di1{
    width: 90px;
    height: 100%;
    /* background-color: rgb(10, 237, 63); */
    background-color: #1b5334;
}

.di2{
    width: 90px;
    height: 100%;
    /* background-color: rgb(10, 237, 63); */
    background-color: #1b5334;
}


.di3{
    width: 90px;
    height: 100%;
    /* background-color: rgb(10, 237, 63); */
    background-color: #1b5334;
}


.logo1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.logo1a .span1{
    font-size: 32px;
    color: #3b4d41;
}

.logo1a .span2{
    font-size: 32px;
    color: #77c080;
}

.logo1b a{
    text-decoration: none;
    color: #3b4d41;
    cursor: pointer;
}

.logo1b a:hover{
    color: #8cad87;
    transition: all 400ms ease-in;
}


.logo2{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.sixty{
    font-size: 24px;
    color: #3b4d41;
    margin-right: 12px;
}

.stud{
    font-size: 16px;
}
.avg{
    color: #1c402c;
    font-size: 12px;
}

.text{
    padding: 20px;
    display: flex;
}

.text .get{
    font-size: 60px;
    color: #1c402c;
    font-weight: 350;
}

.awal{
    display: flex;
    padding: 10px;
    margin-top: 20px;
}

.awal a{
    color: #ddede7;
    text-decoration: none;
}

.awal3{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.awal3 a{
    text-decoration: none;
    color: #ddede7;
}


.secondone img{
    position: absolute;
    bottom: 0;
    height: 550px;
    width: 505px;
    /* right: 10px; */
    max-width: 100%;
    max-height: 85%;
}


.last1{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    align-items: center;
    margin-bottom: 300px;
}

.btn{
    /* margin-left: 20px; */
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #cffc32;
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.btn2{
    border: none;
    padding: 20px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.last2{
    display: flex;
    justify-content: center;
}


.last2 p{
    color: #1c402c;
    font-weight: 400;
    font-size: 18px;
}

.last1 img{
    display: none;
    cursor: pointer;
}



/* Responsive the Hero section here */


@media only screen and (max-width:1150px){
    .text .get{
        font-size: 50px;
    }
}



@media only screen and (max-width:1030px){
    #hero{
        height: 800px;
    }
    .content{
        flex-direction: column;
    }
    .first{
        width: 100%;
        height: fit-content;
    }
    .last{
        width: 100%;
        height: fit-content;
    }
    .last1{
        margin-bottom: 50px;
        gap: 200px;
    }
    .last2{
        text-align: center;
    }
}


@media only screen and (max-width:720px){

    #hero{
        height: 1600px;
    }
    .first{
        flex-direction: column;
    }

    .firstone{
        width: 100%;
        height: 90vh;
    }

    .secondone{
        width: 100%;
        height: 600px;
    }
}


@media only screen and (max-width:480px){
    .last1{
        gap: 100px;
    }
}




/* ============= THE END OF HERO SECTION HERE ==================== */




/* ============== START OF THE LOGOS SECTION HERE ================== */

#logos{
    width: 100%;
    height: 200px;
    /* background-color: #77c080; */
}

#logos .heading h3{
    color: #1c402c;
    font-weight: 500;
    font: bold;
    font-size: 32px;
}

#logos .heading{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


#logos .logos{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}

#logos .logos img{
    cursor: pointer;
}



/* Responsive the logos section here */

@media only screen and (max-width:940px){
    #logos .logos{
        gap: 50px;
    }
}


@media only screen and (max-width:740px){
    #logos .logos{
        flex-direction: column;
        align-items: center;
    }

    #logos{
        height: fit-content;
    }
    #logos .heading{
        margin-left: 30px;
    }
}


@media only screen and (max-width:460px){
    #logos .heading h3{
        font-size: 28px;
    }
}



/* ========== Explore Side Start from here ============ */

#explore{
    width: 100%;
    height: 300px;
    /* background-color: #0fe770; */
    padding: 20px;
}

.explore{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 20px;
    align-items: center;
}

.exp1 h1{
    font-size: 60px;
    color: #1c402c;
    font-weight: 550;
    margin-bottom: 10px;
}

.exp1 p{
    color: rgb(32, 31, 31);
    font-size: 14px;
    font-weight: 500;
}

.exp2 button{
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    background-color: #1c402c;
    color: #f9efe5;
}


/* Responsive the explore section here */

@media only screen and (max-width:1190px){
    .explore{
        flex-direction: column;
        gap: 100px;
        align-items: center;
        text-align: center;
    }
    #explore{
        height: fit-content;
    }
}

@media only screen and (max-width:880px){
    .exp1 h1{
        font-size: 50px;
    }
}


@media only screen and (max-width:740px){
    .exp1 h1{
        font-size: 40px;
    }
    .explore{
        padding-top: 10px;
        gap: 60px;
    }
}



/* ============== Boxes section start from here ==================== */

#boxes{
    width: 100%;
    height: 500px;
    background-color: #1b5334;
}


.collection{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box1{
    width: 320px;
    height: 420px;
    background-color: #1c402c;
    cursor: pointer;
    padding: 15px;
    position: relative;
    color: whitesmoke;

    &:hover{
        background-color: #f9efe5;
        color: #1c402c;
        transition: all 400ms ease-in-out;
    }
}

.box1a{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box1a h1{
    font-size: 32px;
}

.box1a p{
    font-size: 14px;
}

.box2{
    width: 320px;
    height: 420px;
    background-color: blue;
    cursor: pointer;
    padding: 15px;
    position: relative;
    background-color: #f9efe5;
    color: #1c402c;


    &:hover{
        background-color: #1c402c;
        color: whitesmoke;
        transition: all 400ms ease-in-out;
    }
}

.box2:hover .arrow2{
    display: flex;
    transition: all 700ms ease;
}


.box3:hover .arrow3{
    display: flex;
    transition: all 700ms ease;
}

.box2a{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box2a h1{
    font-size: 32px;
}
.box2a p{
    font-size: 14px;
}

.box3{
    width: 320px;
    height: 420px;
    background-color: #f9efe5;
    cursor: pointer;
    padding: 15px;
    position: relative;


    &:hover{
        background-color: #1c402c;
        color: whitesmoke;
        transition: all 400ms ease-in-out;
    }
}

.box3a{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box3a h1{
    font-size: 32px;
}

.box3a p{
    font-size: 14px;
}


.arrow1{
    width: 60px;
    height: 60px;
    /* border: 2px solid black; */
    background-color: #23b357;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 230px;
}

.arrow2{
    width: 60px;
    height: 60px;
    /* border: 2px solid black; */
    background-color: #23b357;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 230px;
}


.arrow3{
    width: 60px;
    height: 60px;
    /* border: 2px solid black; */
    background-color: #23b357;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 230px;
}


/* Responsive the boxes section here */
@media only screen and (max-width:1150px){
    .collection{
        gap: 40px;
    }
}


@media only screen and (max-width:1100px){
    .collection{
        flex-wrap: wrap;
    }
    #boxes{
        height: fit-content;
    }
}